body {
	margin: 10px 0 0 0;
	padding:0;
	height: 100%;
	width: 100%;
	margin: 0 auto;
    font-family: 'Josefin Slab', serif;
}

header {
    width: 500px;
    height: 440px;
    margin: 10px auto 0 auto;
    position: static;
}

.headerlogo {
    width: 300px;
    margin: 0 auto 0 auto;
    display: block;
}


.map {
    width: 960px;    
    height: 490px;
    background-image: url(map.png);
    background-size: contain;
    position: relative;
    margin: 0 auto;
}

.branddef {
    text-align: center;
    text-size: 24px;
    text-family: sans-serif;
}

.browsertext {
	height: auto;
	width: 500px;
    margin: 0 auto;
	display: block;
    text-align: center;
}

/* Info about sessions */
.map_container .session_info h2 {
	margin: 0px 0px 0px 0px;
	font-size: 38px;
	font-weight: bold;
}

.map_container .session_info h3 {
	margin: 0px 0px 12px 0px;
	font-size: 24px;
	text-transform: italic;
	letter-spacing: 4px;
	color: black;
}

.prompt {
	width:300px;
	height:76%;
	z-index: 1;
	display: block;
	overflow: auto;
	z-index: 1;
    margin: 0 auto;
}

.session_info {
	height:100%;
}

.session_detail_container { display: none ; }
}

/*Map and Sessions*/

.playerbody ul {
	list-style: none;
    width: 100%;
    height: 100%;
}
.map ul {
    list-style-type: none;
}
/*blips on map*/
.mapcontainer a.dot {
	background: url(dots.png);
    background-size: cover;
	height: 40px;
	width: 40px;
	cursor: pointer;
	position: absolute;
	z-index: 4;
}

.mapcontainer a.dot:hover {
	background-position: 0px -40px;	
    position: absolute;
}

.mapcontainer a.dot.selected {
	background-position: 0px -80px;
}



section {
    margin: 0 0 0 0;
    width: 100%;
    display: block;
    position: relative;
}

.sessionintro {
    text-align: center;
    font-size: 18px
}

.fancybox-media {
    
}

.dotcontainer {
    position: relative;
    width: 960px;
    height: 6094px; 
}



/*Footer with Social Media*/

.social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 330px;
    margin: 40px auto 40px auto;
}

.social li {
    float: left;
}

.social a {
    display: block;
    width: 100px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

.social a:hover{
    color:red;
}

.facebook {
	width: 48px;
	height: 60px;
	background: url('facebook.png') no-repeat;
    background-size:co;
	display:block;
	float: left;
	z-index: 6;
	text-indent: -9999px;
}	
.facebook:hover{background-position:0 -75px;}

.tumblr {
	width: 54px;
	height: 75px;	
	background: url('tumblr.png') no-repeat;
	display:block;
	position: relative;
	float:right;
	z-index: 6;
	text-indent: -9999px;
}	

.tumblr:hover {background-position:0 -75px;}

.soundcloud {
	width: 154px;
	height: 75px;
	background: url('soundcloud.png') no-repeat;
	display:block;
	margin-left: 78px;
	z-index: 6;
	text-indent: -9999px;
	position: relative;
}
.soundcloud:hover{background-position:0 -75px;}

